/* archive */
.archiveBtns {
  margin: 2vh 150px 0 2vw;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 95;
}
.archiveBtnsMore {
  display: inline;
}
.archiveBtnsMoreDropdown {
  display: inline;
}
