/* archive */
.archiveBtns {
  padding: 1.5vh 150px 1.5vh 3vw;
  background-color: white;
  position: fixed;
  z-index: 96;
}
.archiveBtns button:hover {
  color: white;
}
.archiveBtnsMore {
  display: inline;
}
.btnActive {
  color: rgb(150, 150, 150);
}
.archiveBtnsMoreDropdown {
  display: inline;
}

@media only screen and (min-width: 596px) {
  .archiveBtns {
    width: 100%;
  }
}
