/* archive */
.archiveBtns {
  margin: 2vh 150px 0 2vw;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 95;
}
.archiveBtns button:hover {
  color: rgb(192, 192, 192);
}
.archiveBtnsMore {
  display: inline;
}
.btnActive {
  color: rgb(192, 192, 192);
}
.archiveBtnsMoreDropdown {
  display: inline;
}
