html {
  font-family: "Courier New", Courier, monospace;
  color: #272727;
  font-size: 12px;
  height: 100%;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  height: 100%;
}

/* highlight */
::selection {
  background: rgb(176, 164, 192);
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: whitesmoke;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}

/* buttons */
button {
  font-family: "Courier New", Courier, monospace;
  color: #272727;
}
.btn {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border: none;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0;
  margin: 0 1.25em 0.5em 0;
  cursor: pointer;
}

.btn::after,
.nav-btn::after {
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -0.35px;
  background-color: #232222;
  width: 0;
  height: calc(100% + 2px);
  padding: 0;
  z-index: -1;
}

/* footer */
*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #272727;
  cursor: pointer;
}

/* header */
header {
  position: fixed;
  z-index: 97;
  top: 1.5vh;
  right: 3vw;
  display: flex;
  justify-content: flex-end;
}
.nav-btn {
  position: relative;
}
footer {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  transform: rotate(-90deg) translate(100%, 0);
  transform-origin: right bottom;
}

/* header pop-up */
.header-info {
  position: fixed;
  background-color: white;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  height: calc(100% + 1px);
}
.header-info .ig {
  display: block;
  margin-bottom: 0.25em !important;
}
.header-info a {
  text-decoration: underline;
}
.popup-info {
  padding: 15vh 20vw;
}
.popup-buttons {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  user-select: none;
  z-index: 99;
  width: 100%;
}
.popup-buttons div {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh 3vw 0 3vw;
}
.popup-buttons button:last-child {
  margin-right: 0;
}
.popup-btn-container {
  display: flex;
}
.bio {
  border-top: 1px dotted gray;
  padding-top: 1em;
  margin-top: 3em;
}
.copyright {
  margin-top: 10em;
  font-size: 0.8rem;
}
.cv {
  text-align: left;
  padding: 15vh 5vw;
}

.cv span {
  margin-bottom: 1em;
  display: block;
}

.cv-inner {
  display: grid;
  grid-template-columns: repeat(1, 2fr 8fr);
}

.cv-education {
  display: grid;
  grid-template-columns: repeat(1, 8fr 2fr);
  margin-bottom: 2em;
}

/* home */
.gallery {
  padding-top: 5vh;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
  animation: blur 2.5s alternate infinite;
}
.gallery div {
  height: 65vh;
}
.gallery img {
  height: 100%;
}
@keyframes blur {
  0% {
    filter: none;
  }
  80% {
    filter: none;
  }
  100% {
    filter: invert(1) contrast(0.8) hue-rotate(60deg);
  }
}

/* artist text */
.artist-text {
  position: fixed;
  bottom: 4vh;
  left: 2vw;
  z-index: 95;
}
.z-index {
  z-index: 99;
}
h1,
h2,
p {
  font-weight: 300;
  margin: 0 0 0.25em 0;
  font-family: "Courier New", Courier, monospace;
}
.artist-text h1 {
  font-size: 2rem;
}
.artist-text h2 {
  font-size: 1.25rem;
}
.artist-text p {
  margin: 0;
}
/* embla carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  padding: 6vh 10vw 0 10vw;
  display: flex;
}
.embla__slide div {
  left: 50%;
  transform: translateX(-50%);
}

/* lightbox container */
.lightbox-container {
  position: fixed;
  z-index: 98;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
}

/* css transition for lightbox */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.25s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.25s;
}

/* test lightbox */
.test-lightbox {
  position: absolute;
  z-index: 99;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
}

@media only screen and (min-width: 596px) {
  .embla__slide {
    padding-top: 0;
  }
  .btn {
    margin: 0 1.5em 0em 0;
  }
  .popup-buttons div {
    display: flex;
    justify-content: flex-end;
    padding: 1.5vh 3vw 0 3vw;
  }
  /* buttons */
  .btn:hover::after,
  .nav-btn:hover::after,
  .btn:active::after,
  .nav-btn:active::after {
    width: 100%;
    opacity: 1;
    transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .btn::after,
  .nav-btn::after {
    width: 0;
    opacity: 0;
    transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .btn:hover,
  .nav-btn:hover {
    color: white;
    transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

@media only screen and (min-width: 796px) {
  .gallery {
    gap: 0;
  }
  .popup-info {
    padding: 20vh 35vw;
  }
  .cv {
    padding: 20vh 25vw;
  }

  .slide-single {
    padding: 0;
  }
  .gallery div {
    height: 70vh;
  }
}

@media only screen and (min-width: 1499px) {
  html {
    font-size: 16px;
  }
}
