html {
  font-family: "Courier New", Courier, monospace;
  color: #272727;
  font-size: 12px;
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
}

body {
  touch-action: manipulation;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

/* highlight */
::selection {
  background: rgb(176, 164, 192);
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: whitesmoke;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}

/* buttons */
button {
  font-family: "Courier New", Courier, monospace;
  color: #272727;
}
.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0;
  margin: 0 1.5em 0.5em 0;
  cursor: pointer;
}
.btn:hover {
  color: rgb(192, 192, 192);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #272727;
  cursor: pointer;
}

/* header */
header {
  position: fixed;
  top: 2vh;
  right: 2vw;
  mix-blend-mode: difference;
  z-index: 97;
}
header a:hover {
  color: rgb(192, 192, 192);
}
footer {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  transform: rotate(90deg) translate(-60px, -60px);
}

/* header pop-up */
.header-info {
  position: fixed;
  background-color: white;
  z-index: 96;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20vh 20vw;
}
.header-info .show {
  display: block;
}

/* home */
.gallery {
  padding-top: 5vh;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25em; */
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}
.gallery div {
  height: 70vh;
}
.gallery img {
  height: 100%;
}

/* artist text */
.artist-text {
  position: fixed;
  bottom: 4vh;
  left: 2vw;
  z-index: 96;
}
.z-index {
  z-index: 99;
}
.artist-text h1,
.artist-text h2,
.artist-text p {
  font-weight: 300;
  margin: 0 0 0.25em 0;
  font-family: "Courier New", Courier, monospace;
}
.artist-text h1 {
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.artist-text p {
  margin: 0;
}

/* carousell */
.carousel .slide {
  margin: auto !important;
  padding: 3vw;
}

@media only screen and (min-width: 796px) {
  .gallery {
    gap: 0;
  }
  .carousel .slide {
    margin: 0;
    padding: 0;
  }
  .header-info {
    padding: 20vh 30vw;
  }
}

@media only screen and (min-width: 1499px) {
  html {
    font-size: 16px;
  }
}
